[Unit]
Description=Gunicorn instance to serve Room Status app
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/room-status-display
ExecStart=/home/pi/room-status-display/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:8000 src.app:app
Restart=always

[Install]
WantedBy=multi-user.target
